@import url(http://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?92029939");
  src: url("../font/fontello.eot?92029939#iefix") format("embedded-opentype"), url("../font/fontello.woff?92029939") format("woff"), url("../font/fontello.ttf?92029939") format("truetype"), url("../font/fontello.svg?92029939#fontello") format("svg");
}
/* line 15, ../sass/common.scss */
html {
  font-size: 62.5%;
}

/* line 16, ../sass/common.scss */
body {
  color: #fff;
  background: #000 url(../images/001.png) no-repeat top center;
  background-size: auto;
}

body:before {
  display: block;
  position: fixed;
  top: -50px;
  left: 0;
  width: 80%;
  height: 50px;
  margin: 0 10%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  content: "";
  -webkit-box-shadow: 0 0 100px rgba(2,109,255,.8);
  -moz-box-shadow: 0 0 100px rgba(2,109,255,.8);
  box-shadow: 0 0 100px rgba(2,109,255,.8);
  z-index: 0;
 }

body > * {
  position: relative;
  z-index: 1;
}

/* line 20, ../sass/common.scss */
header[role="banner"] .inner,
main[role="main"] .inner,
footer[role="contentinfo"] .inner ,
nav[data-role="category"] {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

/* header */

header[role="banner"] {
  text-align: center;
  padding: 20px 0;
}
header[role="banner"] h1 a {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
}

/* nav */
nav[role="navigation"] {
  border-top: 1px solid #525252;
  border-bottom: 1px solid #0e0e0e;
background: rgb(67,67,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(67,67,67,1) 0%, rgba(38,38,38,1) 50%, rgba(22,22,22,1) 51%, rgba(23,23,23,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,67,67,1)), color-stop(50%,rgba(38,38,38,1)), color-stop(51%,rgba(22,22,22,1)), color-stop(100%,rgba(23,23,23,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 51%,rgba(23,23,23,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 51%,rgba(23,23,23,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(67,67,67,1) 0%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 51%,rgba(23,23,23,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(67,67,67,1) 0%,rgba(38,38,38,1) 50%,rgba(22,22,22,1) 51%,rgba(23,23,23,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
 }

nav[role="navigation"] li { display: inline-block;  }

nav[data-role="category"] {
  margin-top: 20px;
  border: 1px solid #343434;
  border-radius: 4px;
  overflow: hidden;
  background: #151515;
 }

nav[data-role="category"] h2 {
background: rgb(62,62,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(62,62,62,1) 0%, rgba(73,73,73,1) 5%, rgba(43,43,43,1) 36%, rgba(37,37,37,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,62,62,1)), color-stop(5%,rgba(73,73,73,1)), color-stop(36%,rgba(43,43,43,1)), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
 }
nav[data-role="category"] h2 { padding: 10px; color: #999; font-size: 14px; font-weight: normal; }
nav[data-role="category"] ul { margin: 10px; }
nav[data-role="category"] ul li { display: inline-block; }
nav[data-role="category"] ul li a { display: block; padding: 6px 8px 7px; margin: 8px; color: #B2ADA1; font-size: 12px; background: #2E2E2F; }

body:not(.single) main[role="main"] article {
  width: 300px;
}

main[role="main"] article {
  float: left;
  margin: 20px 36px 20px 0;
  border: 1px solid #343434;
  border-radius: 4px;
  overflow: hidden;
  background: #151515;
 }
.single main[role="main"] article {
  float: none;
  margin: 20px 0 20px 0;
 }

.single main[role="main"] article img {
  width: 100%;
 }

main[role="main"] article:nth-child(3n) {
  margin: 20px 0 20px;
}

main[role="main"] article > ul {
  padding: 10px;
  background: #151515;
  margin-bottom: 2px;
}

main[role="main"] article [data-role="post-data"] {
background: rgb(62,62,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(62,62,62,1) 0%, rgba(73,73,73,1) 5%, rgba(43,43,43,1) 36%, rgba(37,37,37,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,62,62,1)), color-stop(5%,rgba(73,73,73,1)), color-stop(36%,rgba(43,43,43,1)), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(62,62,62,1) 0%,rgba(73,73,73,1) 5%,rgba(43,43,43,1) 36%,rgba(37,37,37,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#252525',GradientType=0 ); /* IE6-9 */

 }

main[role="main"] article [data-role="post-data"]{ padding: 10px; color: #999; }
.single main[role="main"] article header h2 { margin: 12px 10px 0; padding-bottom: 12px; border-bottom: 1px solid #343434; font-size: 14px; color: #73bfe6; }
main[role="main"] article header h2 a { display: block; text-align: left; margin: 12px 10px 0; padding-bottom: 12px; border-bottom: 1px solid #343434; font-size: 14px; color: #73bfe6; }
main[role="main"] article header h2 a:hover{ color:#7fd4ff; text-decoration:underline;}
main[role="main"] article header ul { margin: 6px 10px 0; padding: 7px; background: #2E2E2F; }
main[role="main"] article header ul li { display: inline-block; margin: 0 2px; list-style-type: none; }
main[role="main"] article header ul li a { color: #B2ADA1; }

/* line 27, ../sass/common.scss */
a {
  text-decoration: none;
}


