/* header */
header[role='banner'] {position: fixed;  left: 0; width: 100%; overflow: hidden; z-index: 999; background: #ffffff; }
header[role='banner'] h1 { float: left; float: left; font-family: 'Days One', sans-serif; font-size: 4.6rem; padding: 0.2rem 0 0 0; }
header[role='banner'] h1 a { color: #000000; }
header[role='banner'] h1 a span { color: #ff4b3e; font-size: 5.2rem; }
header[role='banner'] p { float: left; padding: 2.6rem 2.6rem 0; }
header[role='banner'] nav[role='navigation'] { float: right; }
header[role='banner'] nav[role='navigation'] li {position: relative;  color: #ffffff; float: left; padding: 4rem 0 0 0; background: #fcfcfc; height: 2rem; width: 6rem; text-align: center; }
header[role='banner'] nav[role='navigation'] li[data-role='color-switch'] { background: #34b6c1; }
header[role='banner'] nav[role='navigation'] li[data-role='type-switch'] { background: #ff6030; }
header[role='banner'] nav[role='navigation'] li[data-role='tags-switch'] { background: #91e253; }
header[role='banner'] nav[role='navigation'] li:before {position: absolute; top: 1.2rem; left: 50%;  font-family: 'fontello'; margin-left: -1rem; font-size: 2rem; }
header[role='banner'] nav[role='navigation'] li[data-role='color-switch']:before { content: '\e800'; }
header[role='banner'] nav[role='navigation'] li[data-role='type-switch']:before { content: '\e801'; }
header[role='banner'] nav[role='navigation'] li[data-role='tags-switch']:before { content: '\e802'; }
