/* header */
header[role="banner"] {
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 999;
	background: #fff;
	position: fixed;
	h1 {
		float: left;
		float: left;
		font-family: 'Days One', sans-serif;
		font-size: 4.6rem;
		padding: .2rem 0 0 0;
		a {
			color: #000;
			span {
				color: #FF4B3E;
				font-size: 5.2rem;
			}
		}
	}
	p {
			float: left;
			padding: 2.6rem 2.6rem 0;
	}
	nav[role="navigation"] {
		float: right;
	}
	nav[role="navigation"] li {
		color: #fff;
		position: relative;
		float: left;
		padding: 4rem 0 0 0;
		background: #fcfcfc;
		height: 2rem;
		width: 6rem;
		text-align: center;
		&[data-role="color-switch"] {
			background: #34B6C1;
		}
		&[data-role="type-switch"] {
			background: #FF6030;
		}
		&[data-role="tags-switch"] {
			background: #91E253;
		}
		&:before {
			font-family: "fontello";
			position: absolute;
			top: 1.2rem;
			left: 50%;
			margin-left: -1rem;
			font-size: 2rem;
		}
		&[data-role="color-switch"]:before {
			content: "\e800";
		}
		&[data-role="type-switch"]:before {
			content: "\e801";
		}
		&[data-role="tags-switch"]:before {
			content: "\e802";
		}
	}
}